.Game {
  display: flex;
  flex: 1 0 1px;
  flex-wrap: wrap;
  justify-content: stretch;
  align-content: flex-start;
  width: 450px;
  height: 450px;
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 50px;
    width: 50px;
    text-align: center;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: transform 0.6s ease;
    &.flipped {
      transform: rotateY(180deg);
      background-color: white;
    }
    &.matched{
      background-color: rgba(49, 209, 48, 0.59);
      pointer-events: none;
    }
  }
}